doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, shrink-to-fit=no')
    meta(name="google-site-verification" content="MrS5KUD9Sv3yfz0NyZsoBSshnw2ueV0qzIPnDvRBamE")
    title Saku's portfolio
    link(rel="icon" href="src/assets/home_rev.png")
  body(style="margin: 0")
    #app
      script(src="src/main.ts")